---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Timeline from "../components/Timeline.astro";

import {
  processRawSeasons,
  extendSeasons,
  calculateXOffSet,
  calculateBaseStreaks,
} from "../lib/data";
import { weeksArray } from "../lib/weeks";

const allVersions = await getCollection("version");

console.log("Processes data");

const { seasons, counts } = processRawSeasons(allVersions);

console.log({ loadedData: counts.versions });

const extendedSeasons = extendSeasons(seasons);

console.log("Seasons loaded");

const { maxOffset, graphicableSeasons } = calculateXOffSet(extendedSeasons);

console.log("offset loaded", { maxOffset });

const { episodes, streaks, generalStreaks } =
  calculateBaseStreaks(graphicableSeasons);

console.log("streaks loaded");
---

<Layout title="Historical Drag Race Timeline">
  <main>
    <header>
      <h1>Historical <span class="emphasis">Drag Race</span> Timeline</h1>
    </header>

    <p class="paragraph">
      This project attempts to present a historical timeline of all {
        counts.episodes
      } Drag Race episodes across 71 seasons, featuring {counts.versions} versions
      in {counts.countries} countries and showcasing {counts.contestants} Drag Artists
      around the world. On the right, you’ll find records of consecutive weekly episode
      streaks.
    </p>

    <p class="paragraph">
      Data manually taken from <a href="https://www.imdb.com/">IMDB</a> and
      <a href="https://rupaulsdragrace.fandom.com/wiki/">Drag Race Wiki</a>.
      Last updated: 01/12/2024. By <a href="https://github.com/fdoflorenzano"
        >@fdoflorenzano</a
      >.
    </p>

    <Timeline
      rows={weeksArray.length + 1}
      tracks={maxOffset + 2}
      episodes={episodes}
      streaks={streaks}
      generalStreaks={generalStreaks}
    />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;

    padding: 2rem 0;
    color: white;
  }

  @media (max-width: 500px) {
    main {
      margin: 0 20px;
    }
  }

  main header {
    align-self: start;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    max-width: 10ch;
  }

  .emphasis {
    font-weight: normal;
  }

  .paragraph {
    align-self: start;
    max-width: 40ch;
    font-size: 0.8rem;
  }

  .paragraph > a,
  .paragraph > a:visited {
    color: var(--color-streak);
    font-weight: bold;
  }

  .paragraph > a:active {
    color: var(--color-general-streak);
  }
</style>
